# kNN model to predict diabetes

## 1. Load raw data

In [2]:
# import important packages
import numpy as np
import pandas as pd

In [3]:
raw_data = pd.read_csv('input/diabetes.csv')

In [4]:
raw_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
raw_data.sort_values('Pregnancies')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
467,0,97,64,36,100,36.8,0.600,25,0
109,0,95,85,25,36,37.4,0.247,24,1
452,0,91,68,32,210,39.9,0.381,25,0
449,0,120,74,18,63,30.5,0.285,26,0
448,0,104,64,37,64,33.6,0.510,22,1
...,...,...,...,...,...,...,...,...,...
357,13,129,0,30,0,39.9,0.569,44,1
298,14,100,78,25,184,36.6,0.412,46,1
455,14,175,62,30,0,33.6,0.212,38,1
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1

In [9]:
raw_data.sort_values(['Outcome', 'Age'], ascending=[False, True]).head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
220,0,177,60,29,478,34.6,1.072,21,1
255,1,113,64,35,0,33.6,0.543,21,1
414,0,138,60,35,167,34.6,0.534,21,1
577,2,118,80,0,0,42.9,0.693,21,1
580,0,151,90,46,0,42.1,0.371,21,1
230,4,142,86,0,0,44.0,0.645,22,1
242,3,139,54,0,0,25.6,0.402,22,1
397,0,131,66,40,0,34.3,0.196,22,1
415,3,173,84,33,474,35.7,0.258,22,1
448,0,104,64,37,64,33.6,0.510,22,1
595,0,188,82,14,185,32.0,0.682,22,1
606,1,181,78,42,293,40.0,1.258,22,1
647,0,179,50,36,159,37.8,0.455,22,1
661,1,199,76,43,0,42.9,1.394,22,1
731,8,120,86,0,0,28.4,0.259,22,1
750,4,136,70,0,0,31.2,1.182,22,1
124,0,113,76,0,0,33.3,0.278,23,1
197,3,107,62,13,48,22.9,0.678,23,1
237,0,179,90,27,0,44.1,0.686,23,1
328,2,102,86,36,120,45.5,0.127,23,1